@use "./helpers" as *;

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-30: #3F4045;

  --color-gray-50: #888888;
  --color-gray-60: #8C8C8C;
  --color-gray-70: #BEBEBE;

  --color-dark-blue: #1543CD;
  --color-blue: #2e5bd0;
  --color-ocean-blue: #01ABFD;
  --color-dodger-blue: #1CA3F4;
  --color-light-blue: #a5dafb;

  --color-accent: #ffab36;
  --color-alternative-accent: #FFB34A;
  --color-accent-inactive: #ffd59b;

  --color-status-amber: #b7791f;
  --color-status-amber-bg: #fdf2e3;
  --color-status-blue: #2b6cb0;
  --color-status-blue-bg: #e8f1fd;
  --color-status-red: #d64545;
  --color-status-red-bg: #fdeaea;

  --color-red: #f00;

  --background-color: #00A9FB;
  --background-gradient: linear-gradient(180deg, #00a9fb 0%, #1e5eda 100%);
  --gradient: linear-gradient(246.19deg, rgba(255, 255, 255, 0.2) 21.21%, rgba(69, 156, 236, 0.2) 102.4%);

  --border-radius: #{rem(25)};

  --font-family-base: "Gotham Pro", sans-serif;
  --font-family-accent: "Helvetica Neue", sans-serif;

  --container-width: #{rem(315)};
  --container-padding-x: #{rem(30)};

  --transition-duration: 0.2s;
}