.profile-info-card {
    padding: rem(19) rem(27);

    &__title {
        font-size: rem(14);
        margin-bottom: rem(13);
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(19);
    }

    &__item {
        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__icon-wrapper {}

    &__item-content {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-weight: 400;
        font-size: rem(14);
        line-height: 120%;
        color: #a5dafb;
    }

    &__value {
        color: #fff;
    }
}