.card {
    padding: rem(19) rem(27);

    &-title {
        font-size: rem(14);
        margin-bottom: rem(13);
    }
}

.cardDetails {
    display: flex;
    flex-direction: column;
    gap: rem(19);
}


.item {
    display: flex;
    align-items: center;
    gap: rem(16);
}

.details {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    color: #a5dafb;
}

.value {
    color: #fff;
}