.card {
    padding: rem(19) rem(27);

    border-radius: rem(25);
    backdrop-filter: blur(rem(9.1));
    box-shadow: 0 0 rem(6) 0 rgba(21, 67, 205, 0.2);
    background: linear-gradient(246.19deg, rgba(255, 255, 255, 0.2) 19.96%, rgba(69, 156, 236, 0.2) 93.8%);

    &-title {
        font-size: rem(14);
        margin-bottom: rem(13);
    }
}

.cardDetails {
    display: flex;
    flex-direction: column;
    gap: rem(19);
}


.item {
    display: flex;
    align-items: center;
    gap: rem(16);
}

.details{
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 400;
    font-size: rem(14);
    line-height: 120%;
    color: #a5dafb;
}

.value {
    color: #fff;
}