.selectField {
    margin-bottom: rem(25);
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: rem(5);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: rem(14);
    color: var(--color-light);
}

.selectWrapper {
    position: relative;

    svg {
        position: absolute;
        right: rem(14);
        top: rem(14);
        pointer-events: none;
    }
}

.select {
    appearance: none;
    border: none;
    outline: none;

    width: rem(320);
    height: rem(35);

    box-shadow: 0 0 4px 0 rgba(20, 66, 204, 0.3);
    background: var(--color-light);
    border-radius: rem(8);

    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: rem(14);
    color: #888;
    padding-left: rem(15);

    &:focus,
    &:focus-visible,
    &:active {
        outline: none;
        box-shadow: none;
    }
}