.wrapper {
    margin-top: rem(30);
    margin-bottom: rem(53);

    scroll-margin-top: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: rem(24);
}

.modal {
    margin-top: rem(50);
    margin-left: rem(10);
    margin-right: rem(10);
    padding: rem(56) rem(16) rem(36) rem(16);
}