.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-weight: 700;
        margin-bottom: rem(24);
    }

    &__button-block {
        display: flex;
        justify-content: center;
        gap: rem(15);
    }

    &__list {
        max-width: rem(286);
        width: 100%;
        text-align: center;
        list-style-position: inside;

        display: grid;
        row-gap: rem(15);

        padding-block: rem(26) rem(31);


        &-item {
            font-size: rem(14);
        }
    }

    &__slider {
        margin-bottom: rem(53);
    }

}