.game {
    &__rules-card {
        margin-top: rem(74);
        padding: rem(43) rem(30);

        display: flex;
        flex-direction: column;
        align-items: center;

        background: var(--color-light);
        border-radius: rem(25);

        @media (max-height: 750px) {
            margin-top: rem(34);
            margin-bottom: rem(30);
        }
    }

    &__rules-title {
        font-size: rem(20);
        color: var(--color-blue);

        margin-bottom: rem(20);
    }

    &__rules-subtitle {
        font-weight: 500;
        color: var(--color-dark);
    }

    &__rules-area {
        margin-top: rem(20);
    }

    &__rules-list {
        margin: 0;
        padding-left: rem(19);
    }

    &__rules-list--unordered {
        list-style-type: disc;
    }

    &__rules-item {
        font-size: rem(14);
        line-height: 120%;
        color: var(--color-dark);
    }

    &__rules-action {
        line-height: 110%;
        margin-top: rem(41);
    }

    &__success-card {
        padding: rem(41) rem(27);

        position: relative;
    }

    &__mascot-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        max-width: rem(315);
        height: rem(228);

        overflow: hidden;
        pointer-events: none;
        z-index: -1;

        @media (max-height: 750px) {
            max-width: rem(250);
            height: rem(180);
        }

        @media (max-height: 700px) {
            max-width: rem(195);
            height: rem(145);
        }

        @media (max-height: 650px) {
            max-width: rem(170);
            height: rem(110);
            bottom: rem(-10);
        }
    }

    &__mascot-img {
        width: 100%;
        height: auto;
        display: block;

        object-fit: cover;
        object-position: top center;
    }
}


.find {
    &__substrate {
        width: 100vw;
        flex-grow: 1;
        border-radius: rem(30) rem(30) 0 0;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        padding: rem(33) rem(30) rem(45) rem(30);
    }

    &__level {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-self: start;
        gap: rem(3);
        padding: rem(1) rem(7);

        border-radius: rem(5);
        background: var(--color-light);

        font-weight: 700;
        text-transform: lowercase;
        transition: all 0.3s ease;

        &::before {
            content: '';
            display: inline-block;
            width: rem(9);
            height: rem(9);
            border-radius: 50%;
            flex-shrink: 0;
        }

        &--easy {
            color: #00dd28;

            &::before {
                background-color: #00dd28;
            }
        }

        &--medium {
            color: #e1cf0e;

            &::before {
                background-color: #e1cf0e;
            }
        }

        &--hard {
            color: var(--color-red);

            &::before {
                background-color: var(--color-red);
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem(15);

        font-size: rem(18);
        line-height: 115%;

        &-item {
            cursor: pointer;
            transition: background-color 0.2s ease, color 0.2s ease;

            &__selected {
                background-color: var(--color-light);
                color: var(--color-dark);
                border-radius: rem(5);
                padding: rem(3) rem(7);
            }
        }
    }

    &__index {
        font-weight: 500;
        line-height: 120%;
    }
}