.radioList {
    display: flex;
    flex-direction: column;
    gap: rem(21);
    margin-bottom: rem(25);
}

.radioTitle {
    display: flex;

    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: rem(14);
    color: var(--color-light);
    margin-bottom: 14px;
}